<% provide(:title, 'New Photo') %>
<h1>New Photo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@photo) do |f| %>
      <%= f.label :image_url %>
      <%= f.text_field :image_url %>

      <%= f.submit "Create Photo", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
