<h1>Heyoo <%= @user.name %>!</h1>

<h3>
  <%= link_to "Create New Topic", new_topic_path %>
  <% @user.topics.each do |topic| %>
  <%= link_to topic.title, topic_path %>
  <% end %>
</h3>

 <%= link_to('Logout', logout_path, method: :destroy) %>
