<h1>Heyoo <%= @user.name %>!</h1>

<p>      <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
       <% end %>
</p>

<h3>
  <% @topics.each do |topic| %>
  <div class="topic"><%= link_to topic.title, topic %></div><br>
  <% end %>
</h3>
